<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>T3 AI SAT</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>t3aisat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Esta aplicación requiere acceso a Apple Music para mejorar la experiencia de audio en los videos grabados.</string>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para que puedas capturar fotos o videos geolocalizados de propiedades, parcelas o siniestros, permitiéndote documentar con precisión tus proyectos profesionales.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>La ubicación es necesaria para geolocalizar con precisión tus fotos o videos, y para mostrar tu posición en el mapa junto con información precisa sobre parcelas y propiedades, incluso cuando la app está en segundo plano.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>La ubicación es necesaria para geolocalizar con precisión tus fotos o videos, y para mostrar tu posición en el mapa junto con información precisa sobre parcelas y propiedades, incluso cuando la app está en segundo plano.</string>
	<key>NSLocationUsageDescription</key>
	<string>La ubicación es necesaria para geolocalizar con precisión tus fotos o videos, y para mostrar tu posición en el mapa junto con información precisa sobre parcelas y propiedades.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La ubicación es necesaria para geolocalizar con precisión tus fotos o videos, y para mostrar tu posición en el mapa junto con información precisa sobre parcelas y propiedades.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>El acceso al micrófono te permite grabar notas de voz durante la captura de videos, facilitando la documentación detallada de inspecciones, peritajes o validaciones en campo.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>La app necesita guardar en tu galería las fotos o videos geolocalizados capturados durante inspecciones, validaciones o documentación de campo, para que puedas consultarlos posteriormente.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tu galería para guardar y consultar las fotos o videos geolocalizados de tus inspecciones, peritajes o documentación en campo.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
